.post-single .post-content,
.post-single header {
    max-width: 860px;
}

.main {
    max-width: 860px;
}

.post-entry .entry-cover {
    margin: calc(-1 * var(--gap)) calc(-1 * var(--gap)) var(--gap) calc(-1 * var(--gap));
    border-radius: var(--radius) var(--radius) 0 0;
}

.post-entry .entry-cover img {
    border-radius: var(--radius) var(--radius) 0 0;
    max-height: 180px;
    object-fit: cover;
}
